<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>It Works!!</h1>
        <form action="{{ url_for("login") }}" method="post">
            <label for="name">
                <b>Name</b>
            </label>
            <input id="name" name="name" type="text" placeholder="Enter your email...">
            <label for="password">
                <b>Password</b>
            </label>
            <input id="password"
                   name="password"
                   type="password"
                   placeholder="Enter your password...">
            <button type="submit">Ok</button>
        </form>
    </body>
</html>
