.frame  {
    height: 500px;
    width: 700px;
    border: white solid;
    padding: 10px;
    align-items: center;
}
.container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;
  text-align: center;
  color: white;        
}   

.main_text{
    
    font-family:Libre Baskerville ;
    font-size: 50px;
    margin-block-start : 0px ;
    margin-block-end: 0px;
    
}
.sub_text{
    
    font-family: Libre Baskerville;
    font-size: larger;
    
}